@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
	font-family: "Open Sans", sans-serif;
}

/* Custom class to hide scrollbar */
.hide-scrollbar {
	-ms-overflow-style: none; /* Internet Explorer and Edge */
	scrollbar-width: none; /* Firefox */

	/* Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}
}

.line {
	width: 100%;
	height: 1px; /* Adjust the height as needed */
	background-color: #fff; /* Adjust the color as needed */
	margin: 8px 0; /* Optional: Add some margin for spacing */
	opacity: 0.2; /* Optional: Adjust the opacity */
}

.banner-container {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 180px; /* Adjust as needed */
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
	-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0)); /* For Safari */
}
