@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/* Apply basic reset to the body or specific container */
body {
	font-family: "Open Sans", sans-serif;
}

/* Styling the scrollbar itself */
::-webkit-scrollbar {
	width: 6px; /* Slimmer than the default */
	height: 6px; /* For horizontal scrollbars */
}

/* Styling the track (part the thumb slides within) */
::-webkit-scrollbar-track {
	/* background: transparent; */
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px; /* Rounded corners for the track */
}

/* Styling the thumb (the part you drag) */
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2); /* Slightly darker for contrast */
	border-radius: 10px; /* Rounded corners on the thumb */
}

/* Styling the thumb when hovering over it */
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.15); /* Darker shade on hover */
	cursor: pointer; /* Add a pointer on hover */
}

img {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;         /* Standard syntax */
}

/* Custom class to hide scrollbar */
.hide-scrollbar {
	-ms-overflow-style: none; /* Internet Explorer and Edge */
	scrollbar-width: none; /* Firefox */

	/* Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}
}

.navbar {
	justify-content: space-between;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .navbar {
        position: absolute; /* Change position to absolute */
        top: 0; /* Align to the top of the viewport */
        left: 0; /* Align to the left of the viewport */
        width: 100%; /* Continue spanning the full width */
		height: 100%; /* Expand to full height */
		background-color: #000; /* Change background color */
		z-index: 9999;
    }
}

.line {
	width: 100%;
	height: 1px; /* Adjust the height as needed */
	background-color: #fff; /* Adjust the color as needed */
	margin: 8px 0; /* Optional: Add some margin for spacing */
	opacity: 0.2; /* Optional: Adjust the opacity */
}

.banner-container {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 90%;
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
	-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0)); /* For Safari */
}

.title-container {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}
  
.scrolling-title {
	display: inline-block;
	white-space: nowrap;
	transition: transform 0.3s linear;
}

@keyframes pulse {
	0%, 100% {
	  opacity: 1;
	}
	50% {
	  opacity: .5;
	}
}
  
.animate-pulse {
	animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}